* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Work Sans", sans-serif;
    --background-color: #050505;
    --text-color: #EEE;
    --accent-color: #B5A2D1;
}

body {
    /* adjust to screen size later */
    font-size: 12px;
    height: 100vh;
    overflow: hidden;
}

.content-container {
    padding: 4em 16px;
    height: 100%;
    overflow: auto;
    color: var(--text-color);
    font-size: 1.25rem;
    overflow-y: auto;
    clip-path: content-box;
}
s
.content > :not(:first-child) {
    margin-left: 2rem;
}

h1 {
    margin-bottom: 0.75rem;
}

.background {
    position: fixed;
    width: 100%;
    z-index: -1;
}

.background-image {
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100%;
    background-color: var(--background-color);
    background-image: url("bg2.png"), url("bg.png");
}

.text-background {
    position: absolute;
    width: 100%;
    font-size: 4rem;
    color: var(--accent-color);
    font-weight: 300;
    animation: marquee 50s linear infinite;
    z-index: 2;
    user-select: none;
}

.text-background:nth-of-type(even) {
    translate: 0px calc(100vh - 4.25rem);
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-200%);
    }
}

lI::marker {
    color: var(--accent-color)
}