* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Chakra Petch", sans-serif;
    font-feature-settings: "tnum";
    --background-color: #050505;
    --secondary-background-color: #232323;
    --text-color: #EEE;
    --border-color: #444;
    --accent-color: #af9fc4;
}

body {
    /* adjust to screen size later */
    font-size: 12px;
    height: 100vh;
    overflow: hidden;
}

.content-container {
    padding: 6rem 2rem;
    height: 100%;
    overflow: auto;
    color: var(--text-color);
    font-size: 1.33rem;
    clip-path: content-box; 
}

.content {
    padding: 1rem;
    height: 100%;
    border: 1.5px solid var(--border-color);
    border-radius: 25px;
    background: radial-gradient(#FFFFFF20, #FFFFFF05);
    overflow-y: auto;
    overflow-x: hidden;
}

.content > :not(:first-child) {
    margin-left: 2rem;
}

h1 {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
    letter-spacing: 0.05rem;
}

h2 {
    line-height: 3rem;
    font-weight: 600;
}

.background {
    position: fixed;
    width: 100%;
    z-index: -1;
    image-rendering: pixelated;
}

.background-image {
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100%;
    background-color: var(--background-color);
    background-image: url("assets/bg3.png"), url("assets/bg2.png"), url("assets/bg.png");
}

.text-background {
    text-shadow: 1px 1px 5px var(--accent-color);
    line-height: 4.5rem;
    position: absolute;
    width: 100%;
    font-size: 3.5rem;
    color: var(--accent-color);
    font-weight: 300;
    animation: marquee 45s linear infinite;
    z-index: 2;
    user-select: none;
}

.text-background:nth-of-type(even) {
    translate: 0px calc(100vh - 4.5rem);
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-150%);
    }
}

li::marker {
    color: var(--accent-color)
}

.name {
    font-weight: 300;
    position: relative;
    animation: skew 2.3s steps(1) infinite;
    display: inline-block;
    text-shadow: 1px 1px 5px var(--accent-color);
}

@keyframes skew {
    0% {
        color: var(--accent-color);
        transform: skew(5.0deg,2.5deg);
    }

    3% {
        color: var(--accent-color);
        transform: skew(2.5deg,-5.5deg) scale(0.95);
    }

    4.5% {
        color: color-mix(in srgb, var(--accent-color) 80%, var(--text-color) 20%);
        transform: skew(-3.0deg,2.5deg) scale(1.05);
    }

    6.5% {
        transform: skew(-3.0deg, -2.5deg);
    }

    13% {
        color: var(--accent-color);
        transform: skew(0deg) scale(1);
    }
}

a {
    color: var(--accent-color);
    text-decoration: underline;
}

.tooltip {
    transition: opacity 0.5s;
    opacity: 0;
    display: inline-block;
    transition: opacity 0.5s;
    margin: 0rem 1rem;
    font-size: 1rem;
    user-select: none;
    background-color: var(--secondary-background-color);
    padding: 0.4rem;
    border-radius: 5px;
    border: 1px solid var(--border-color);
    position: fixed;
}

.project-list li a:hover + .tooltip {
    opacity: 1;
}

li {
    margin: 0.25rem 0rem;
}